/**
 * Bottom Bar Styling
 */

#user-feedback-bottombar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100200;
	width: 100%;
	height: 50px;
	padding: 10px 3%;
	background: $color-black;
	color: $color-white;
	box-sizing: border-box;
	transform: translatez(0);
	user-select: none;
}

#user-feedback-bar-steps {
	float: left;
	width: 70%;
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: lighter;
}

.user-feedback-bar-step {
	float: left;
	position: relative;

	& + & {
		margin-left: 30px;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: -33px;
			width: 30px;
			height: 30px;
			transform: scale(0.35) rotate(45deg);
			box-shadow:	2px -2px 0 2px rgba(255, 255, 255, 0.5), 3px -3px 0 2px rgba(255, 255, 255, 0.5);
			border-radius: 0 2px 0 50px;
		}
	}
}

.user-feedback-button-help {
	float: right;
	background: $color-blue;
	color: $color-white;
	border-radius: 100%;
	padding: 0 12px;

	&:hover {
		background: $color-blue-hover;
	}
}