/**
 * Canvas Styling
 */

#user-feedback-canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100000; // just behind our UI
}

// A helper is a rectangle drawn by the user
.user-feedback-annotation {
	position: absolute;
	z-index: 100100; // between canvas and UI
	background: rgba(0, 0, 0, 0);
	cursor: default;

	&:hover {
		background: rgba(0, 68, 255, 0.1);
		z-index: 100150;

		.user-feedback-annotation-close {
			display: block;
		}
	}
}

.user-feedback-annotation-close {
	@extend .user-feedback-button;
	@extend .user-feedback-button-close;

	display: none;
	top: 0;
	right: 0;
	border-radius: 0;
	background: rgba($color-gray, 0.4);
	color: $color-white;

	&:focus,
	&:hover {
		display: block;
		background: $color-blue-hover;
		color: $color-white;
	}
}