/**
 * Modal Styling
 */

.user-feedback-modal {
	position: absolute;
	z-index: 100200;
	padding: 15px;
	width: 400px;
	border: 1px solid $color-gray;
	border-radius: 3px;
	background: $color-white;
	color: $color-black;
	user-select: none;
	margin-right: -15px;
	pointer-events: auto;

	&:before {
		content: "";
		position: absolute;
		height: 0;
		width: 0;
		border: solid transparent;
		pointer-events: none;
	}

	&:before {
		border-width: 16px;
		border-color: rgba($color-gray, 0);
	}

	&.top {
		top: -10px;

		&:before {
			top: 15px;
		}
	}
	&.right {
		right: 90px;

		&:before {
			margin-right: -16px;
			right: -15px;
			border-left-color: $color-white;
		}
	}
	&.bottom {
		bottom: -10px;

		&:before {
			bottom: 15px;
		}
	}
	&.left {
		left: 75px;

		&:before {
			margin-left: -16px;
		}

		&:before {
			margin-left: -16px;
			left: -15px;
			border-right-color: $color-white;
		}
	}
}

.user-feedback-modal__topbar {
	padding-bottom: 10px;
	border-bottom: 1px solid $color-light-gray;
	margin-bottom: 20px;
	overflow: hidden;
}

.user-feedback-modal-title {
	float: left;
	margin: 0;
	padding: 0;
	// some people use !important for generic things like this. makes me sad :(
	color: $color-blue !important;
	font-size: 20px;
	line-height: 30px;
	font-weight: lighter;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;

	.rtl & {
		float: right;
	}
}

// Close button in the upper right corner
.user-feedback-button-close {
	float: right;
	width: 30px;
	height: 30px;
	padding: 0;
	line-height: 28px;
	cursor: pointer;
	background: transparent;
	color: $color-gray;
	font-size: 20px;
	font-weight: normal;

	&:focus,
	&:hover {
		background: transparent;
		color: $color-black;
	}

	&:focus {
		color: $color-blue-hover;
		border: 1px solid;
		border-radius: 100%;
	}

	.rtl & {
		float: left;
	}
}
