/**
 * User Feedback Styling
 */

@import "variables";
@import "buttons";
@import "general";
@import "bottombar";
@import "modal";
@import "canvas";

/**
 * Intro Template
 */
#user-feedback-welcome {
	top: 50%;
	left: 50%;
	position: fixed;
	transform: translate(-50%, -50%)
}

#user-feedback-message {
	width: 100%;
	height: auto;
	min-height: 90px;
	outline: none;
	margin-bottom: 10px;
	padding: 4px;
}

label[for=user-feedback-do-not-show-again] {
	cursor: pointer;
	color: $color-gray;
}

/**
 * Highlighting Template
 */

#user-feedback-welcome-error,
#user-feedback-overview-error {
	color: $color-red;
	float: right;
	margin-right: 30px;
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 24px;
}

#user-feedback-overview-error {
	margin-top: 20px
}

/**
 * Annotation Template pinned to the bottom
 */

#user-feedback-highlighter {
	right: 0;
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;
	padding: 20px !important;
	text-align: center;
}

#user-feedback-overview {
	top: 10%;
	left: 50%;
	margin-left: -420px;
	position: fixed;
	width: 840px !important;
	height: auto;
}

#user-feedback-submit-error,
#user-feedback-submit-success {
	top: 30%;
	left: 50%;
	margin-left: -300px;
	display: block;
	position: fixed;
	width: 600px;
	height: auto;
}



.user-feedback-additional {
	margin-bottom: 20px !important
}

/**
 * Overview Template at the end
 */

#user-feedback-overview-description {
	float: left;
	width: 50%;
}

#user-feedback-overview-user {
	position: relative;
	margin-bottom: 30px;
	height: 40px;

	div {
		position: absolute;
		bottom: 0;
		left: 50px;
		display: block;
		margin: 0;
		color: $color-gray;
	}

	&:after {
		content: "";
		position: absolute;
		border-style: solid;
		border-color: $color-light-gray transparent;
		display: block;
		width: 0;
		bottom: -30px;
		top: auto;
		right: auto;
		left: 7px;
		border-width: 0 15px 15px;
	}
}

#user-feedback-overview-note {
	width: 100%;
	padding: 4px;
	height: 110px;
	outline: none;
}

#user-feedback-overview-screenshot {
	float: right;
	width: 45%;
}

#user-feedback-overview-screenshot-img {
	width: 100%;
	height: auto;
	padding: 1px;
	border: 1px solid $color-light-gray;
}

.user-feedback-additional-notes {
	margin: 5px 0 0 0;
	overflow: hidden;
	list-style: none;
	color: $color-gray;

	li {
		float: left;
		width: 50%;

		#user-feedback-overview-screenshot & {
			float: none;
		}
	}
}

#user-feedback-overview .user-feedback-buttons {
	clear: both;
	display: block;
	padding-top: 30px;
}