/**
 * User Feedback Stylgin
 */

/**
 * General Stylings
 */

.user-feedback-modal,
.user-feedback-bottombar {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	z-index: 40000;
	background: #fff;
	outline: 0;
	box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
	background-clip: padding-box;
	box-sizing: border-box;
	transform: translatez(0);

	.hidden,
	&.hidden {
		display: none;
	}
}

.user-feedback-bottombar {
	width: 100%;
	padding: 20px;
	background: #333;
}

.user-feedback-modal {
	padding: 30px;
	width: 540px;
}

#user-feedback-module p {
	margin-bottom: 10px;
}

// Title in the modal
.user-feedback-logo {
	margin: -30px -30px 30px -30px;
	padding-left: 30px;
	font-size: 16px;
	font-weight: lighter;
	text-transform: uppercase;
	line-height: 30px;
	background: #00B9E6;
	color: #fff;
}

#user-feedback-close {
	cursor: pointer;
	position: absolute;
	width: 30px;
	height: 30px;
}

// Close button in the upper right corner
.user-feedback-wizard-close {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	padding: 0;
	line-height: 30px;
	background: #00B9E6;
	color: #fff;
	font-weight: normal;

	&:hover {
		background: #00B9E6;
		color: #fff;
	}
}

#user-feedback-canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.user-feedback-textarea {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	resize: none;
	background: #f5f5f5;
	border: 1px solid #f5f5f5;

	&:focus {
		border: 1px solid #64b7cc
	}
}

/**
 * Intro Template
 */
#user-feedback-welcome {
	top: 50%;
	left: 50%;
	position: fixed;
	transform: translate(-50%, -50%)
}

#user-feedback-note-tmp {
	width: 100%;
	height: auto;
	min-height: 90px;
	outline: none;
	margin-bottom: 10px;
	padding: 4px;
}

label[for=user_feedback_dont_show_again] {
	cursor: pointer;
	color: #999;
}

/**
 * Highlighting Template
 */

// A helper is a rectangle drawn by the user
.user-feedback-helper {
	background: rgba(0, 0, 0, 0);
	cursor: default;
}

.user-feedback-helper[data-type="highlight"] > .user-feedback-helper-inner {
	background: rgba(0, 68, 255, 0.1)
}

#user-feedback-welcome-error,
#user-feedback-overview-error {
	color: #f13e3e;
	float: right;
	margin-right: 30px;
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 24px;
}

#user-feedback-overview-error {
	margin-top: 20px
}

/**
 * Annotation Template pinned to the bottom
 */

#user-feedback-highlighter {
	right: 0;
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;
	padding: 20px !important;
	text-align: center;
}

#user-feedback-overview {
	top: 10%;
	left: 50%;
	margin-left: -420px;
	position: fixed;
	width: 840px !important;
	height: auto;
}

#user-feedback-submit-error,
#user-feedback-submit-success {
	top: 30%;
	left: 50%;
	margin-left: -300px;
	display: block;
	position: fixed;
	width: 600px;
	height: auto;
}

.user-feedback-sethighlight,
.user-feedback-setblackout {
	box-shadow: none;
	background: #fff;
	color: #444;
	border: 1px solid #fff;
	border-radius: 2px;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	margin-right: 16px;
	line-height: 30px;
	min-width: 90px;
	outline: 0;
	padding: 0 8px;
	display: inline-block;

	&:focus,
	&:hover {
		background: #f8f8f8;
	}
}

.user-feedback-active {
	color: #00B9E6;
}

#user-feedback-highlighter .user-feedback-button {
	padding: 0 10px;
	font-size: 11px;
	line-height: 30px;
	background: #fff;
	border: 1px solid #fff;

	&:hover {
		background: #f8f8f8;
		color: #333;
	}
}

#user-feedback-highlighter .user-feedback-wizard-close {
	background: #333;
}

/**
 * Buttons
 */

.user-feedback-button {
	outline: 0;
	cursor: pointer;
	background-clip: padding-box;
}

.user-feedback-button-gray {
	text-align: center;
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: #444;
	border-radius: 2px;
	background-image: linear-gradient(to bottom, #f5f5f5, #f1f1f1);

	&:hover {
		color: #333;
		border: 1px solid #c6c6c6;
		background-image: linear-gradient(to bottom, #f8f8f8, #f1f1f1);
	}
}

.user-feedback-button-primary {
	text-align: center;
	border: 1px solid transparent;
	color: #E41B13;
	background: transparent;
	font-weight: normal;

	&:hover {
		color: #B6140D;
		background: transparent;
	}
}

.user-feedback-button-secondary {
	text-align: center;
	border: 1px solid transparent;
	color: #333;
	background: transparent;
	font-weight: normal;

	&:hover {
		color: #111;
		background: transparent;
	}
}

.user-feedback-button-blue {
	text-align: center;
	cursor: pointer;
	border-radius: 2px;
	background-image: linear-gradient(to bottom, #4d90fe, #357ae8);
	border: 1px solid #2f5bb7;
	color: #fff;
}

.user-feedback-button-next {
	line-height: 27px;
	float: right;
	font-size: 13px;
	padding: 0 8px;
}

.user-feedback-button-back {
	width: 72px;
	height: 29px;
	line-height: 27px;
	float: right;
	font-size: 13px;
	padding: 0 8px;
	margin-right: 20px;
}

.user-feedback-button-submit {
	float: right;
}

.user-feedback-button-close {
	width: 72px;
	height: 29px;
	line-height: 27px;
	float: right;
	font-size: 13px;
	padding: 0 8px;
}

/**
 * Feedback Button at the beginning
 */
#user-feedback-init-button {
	padding: 10px;
	outline: 0;
	background-clip: padding-box;
	font-family: 'Open Sans', sans-serif;
	box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
	z-index: 40000;
	font-size: 14px;
	position: fixed;
	bottom: -3px;
	right: 60px;
	width: auto;

	&.hidden {
		display: none;
	}
}

.user-feedback-buttons {
	display: inline-block;
}

#user-feedback-module h3 {
	font-weight: bold;
	font-size: 15px;
	margin: 8px 0;
}

.user-feedback-additional {
	margin-bottom: 20px !important
}

/**
 * Overview Template at the end
 */

#user-feedback-overview-description {
	float: left;
	width: 45%;
}

#user-feedback-overview-user {
	position: relative;
	margin-bottom: 30px;
	height: 40px;

	span {
		position: absolute;
		bottom: 0;
		left: 50px;
		display: block;
		margin: 0;
		color: #999;
	}

	&:after {
		content: "";
		position: absolute;
		border-style: solid;
		border-color: #f5f5f5 transparent;
		display: block;
		width: 0;
		bottom: -30px;
		top: auto;
		right: auto;
		left: 7px;
		border-width: 0 15px 15px;
	}
}

#user-feedback-overview-note {
	width: 330px;
	padding: 4px;
	height: 90px;
	outline: none;
}

#user-feedback-overview-screenshot {
	float: right;
	width: 45%;
}

#user-feedback-overview-screenshot-img {
	width: 100%;
	height: auto;
	padding: 1px;
	border: 1px solid #adadad;
}

#user-feedback-overview-description-text span {
	font-size: 14px;
	margin: 8px 0 0 26px;
	color: #666;
	padding-left: 10px;
	background: url(../../images/icons.png) -30px -34px no-repeat;
}

.user-feedback-additional-notes {
	margin-top: 5px;
	list-style: none;
	color: #999;
	overflow: hidden;

	li {
		float: left;
		width: 50%;
	}
}

#user-feedback-overview .user-feedback-buttons {
	clear: both;
	display: block;
}