<div class="user-feedback-modal top left" role="dialog">
	<div class="user-feedback-modal__topbar">
		<h3 class="user-feedback-modal-title"><%= title %></h3>
		<button class="user-feedback-button user-feedback-button-close" aria-label="<%= button.closeAria %>" tabindex="2">
			<%= button.close %>
		</button>
	</div>

	<p>
		<textarea id="user-feedback-overview-note" class="user-feedback-textarea" tabindex="1" placeholder="<%= placeholder.message %>"></textarea>
	</p>

	<% if ( ! user_feedback.user.logged_in ) { %>
	<p>
		<input type="text" class="user-feedback-input" id="user-feedback-user-name" placeholder="<%= placeholder.name %>" tabindex="1">
	</p>

	<p>
		<input type="email" class="user-feedback-input" id="user-feedback-user-email" placeholder="<%= placeholder.email %>" tabindex="1">
	</p>
	<% } %>

	<div class="user-feedback-modal__bottombar">
		<button class="user-feedback-button user-feedback-button-submit user-feedback-button-primary" tabindex="1">
			<%= button.primary %>
		</button>
	</div>
</div>
