<div class="user-feedback-modal" role="dialog">
	<div class="user-feedback-modal__topbar">
		<h3 class="user-feedback-modal-title"><%= title %></h3>
		<button class="user-feedback-button user-feedback-button-close" aria-label="<%= button.closeAria %>" tabindex="2">
			<%= button.close %>
		</button>
	</div>
	<p><%= subtitle %></p>

	<p><%= message %></p>

	<p><%= message2 %></p>

	<p>
		<input type="checkbox" value="1" id="user-feedback-do-not-show-again" />
		<label for="user-feedback-do-not-show-again"><%= inputLabel %></label>
	</p>

	<div class="user-feedback-modal__bottombar">
		<button class="user-feedback-button user-feedback-button-next user-feedback-button-primary">
			<%= button.primary %>
		</button>
	</div>
</div>
