<div class="user-feedback-modal user-feedback-modal-pointer" role="dialog">
	<div class="user-feedback-modal__topbar">
		<h3 class="user-feedback-modal-title"><%= title %></h3>
		<button class="user-feedback-button user-feedback-button-close" title="<%= button.closeAria %>" aria-label="<%= button.closeAria %>"><%= button.close %></button>
	</div>
	<p>
		<textarea id="user-feedback-message" class="user-feedback-textarea" placeholder="<%= placeholder.message %>"></textarea>
	</p>

	<div class="user-feedback-modal__bottombar">
		<button class="user-feedback-button user-feedback-button-next user-feedback-button-primary"><%= button.primary %></button>
	</div>
</div>