<div class="user-feedback-modal user-feedback-modal-pointer" role="dialog">
	<div class="user-feedback-modal__topbar">
		<h3 class="user-feedback-modal-title"><%= title %></h3>
		<button
				class="user-feedback-button user-feedback-button-close"
				title="<%= button.closeAria %>"
				aria-label="<%= button.closeAria %>"
				tabindex="2">
			<%= button.close %>
		</button>
	</div>
	<p><%= salutation %></p>

	<p><%= intro %></p>

	<p>
		<input
				type="text"
				class="user-feedback-input"
				id="user-feedback-user-name"
				placeholder="<%= placeholder.name %>"
				tabindex="1"
				required="required" 
				pattern="^[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]+$"
				title="Please enter a valid name.">
		<input
				type="email"
				class="user-feedback-input"
				id="user-feedback-user-email"
				placeholder="<%= placeholder.email %>"
				tabindex="1"
				required="required" 
				pattern="(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])"
				title="Please enter a valid email address.">
	</p>

	<div class="user-feedback-modal__bottombar">
		<button
				class="user-feedback-button user-feedback-button-next user-feedback-button-primary"
				tabindex="1">
			<%= button.primary %>
		</button>
		<button
				class="user-feedback-button user-feedback-button-next user-feedback-button-secondary"
				tabindex="1">
			<%= button.secondary %>
		</button>
	</div>
</div>