<div class="user-feedback-modal user-feedback-modal-center" role="dialog">
	<div class="user-feedback-modal__topbar">
		<h3 class="user-feedback-modal-title"><%= title %></h3>
	</div>
	<div id="user-feedback-overview-description">
		<div id="user-feedback-overview-user">
			<img src="" width="40" height="40" alt="<%= user.gravatarAlt %>" />

			<div><%= user.by %></div>
		</div>
		<textarea
				id="user-feedback-overview-note"
				class="user-feedback-textarea"
				tabindex="1"
				placeholder="<%= placeholder.message %>"></textarea>
		<ul class="user-feedback-additional-notes">
			<li id="user-feedback-additional-theme"><%= details.theme %></li>
			<li id="user-feedback-additional-browser"><%= details.browser %></li>
			<li id="user-feedback-additional-template"><%= details.template %></li>
			<li id="user-feedback-additional-language"><%= details.language %></li>
		</ul>
	</div>
	<div id="user-feedback-overview-screenshot">
		<img id="user-feedback-overview-screenshot-img" src="" alt="<%= screenshotAlt %>" />
	</div>
	<div class="user-feedback-modal__bottombar">
		<button
				class="user-feedback-button user-feedback-button-next user-feedback-button-primary"
				tabindex="1">
			<%= button.primary %>
		</button>
		<button
				class="user-feedback-button user-feedback-button-previous user-feedback-button-secondary"
				tabindex="1">
			<%= button.secondary %>
		</button>
	</div>
</div>