<div class="user-feedback-modal user-feedback-modal-center" role="dialog">
	<div class="user-feedback-modal__topbar">
		<h3 class="user-feedback-modal-title"><%= title %></h3>
	</div>
	<p><%= intro %></p>

	<p><%= intro2 %></p>

	<div class="user-feedback-modal__bottombar">
		<button
				class="user-feedback-button user-feedback-button-done user-feedback-button-primary"
				tabindex="1">
			<%= button.primary %>
		</button>
		<button
				class="user-feedback-button user-feedback-button-restart user-feedback-button-secondary"
				tabindex="1">
			<%= button.secondary %>
		</button>
	</div>
</div>